:host {
  color: var(--kvlm-ui-color-ivory);
  font-size: 0.9em;
}

nav {
  display: flex;
  gap: 1em;
  padding: 1em;
}

button,
select,
input:not([type='checkbox']) {
  all: unset;

  box-sizing: border-box;
  height: 1.5em;
  padding: 0.125em 0.25em;

  border: 1px solid currentcolor;
  cursor: pointer;

  transition: opacity 0.2s ease-in-out;
}

button {
  white-space: nowrap;
}

fieldset {
  all: unset;

  display: flex;
  gap: 0.5em 1em;
}

fieldset legend,
label.dropdown > span {
  display: block;
  padding: 0 0 0.5em;

  font-size: 0.9em;
  white-space: nowrap;
  text-transform: uppercase;

  transition: opacity 0.2s ease-in-out;
}

label.dropdown {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  height: fit-content;

  cursor: pointer;

  select {
    padding-right: 1.5em;
  }

  input[type='number'] {
    margin-top: 0.5em;

    &:read-only {
      opacity: 0.5;
    }
  }

  &::after {
    position: absolute;
    inset: 1.35em 0.5em auto auto;

    content: '⌄';
    pointer-events: none;
  }
}

label.options {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: fit-content;

  cursor: pointer;

  input[type='checkbox'] {
    all: unset;

    position: absolute;
    inset: 0 auto 0 0;

    opacity: 0;

    ~ input {
      overflow-x: clip;

      transition: 0.2s ease;
      transition-property:
        border-left-width, border-right-width, margin-left, padding-left, padding-right, width;

      &[hidden] {
        width: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;

        border-right-width: 0;
        border-left-width: 0;
      }

      &:not([hidden]) {
        width: calc-size(max-content, size);
        margin-left: 0.5em;
      }
    }
  }

  span {
    margin-left: 0.5em;
  }

  &::before {
    display: block;
    box-sizing: border-box;
    height: 1.5em;

    line-height: 1.4lh;
    text-align: center;

    border: 1px solid currentcolor;

    content: '\a0';
    aspect-ratio: 1;
  }

  &:has(input:checked)::before {
    content: '╳';
  }
}

/* disabled state */
:host([aria-disabled='true']) fieldset legend,
:host([aria-disabled='true']) label.dropdown > span,
label.dropdown select:disabled,
/* stylelint-disable-next-line no-descending-specificity */
input:not([type='checkbox']):disabled,
label:has(input[type='checkbox']:disabled),
button:disabled {
  cursor: default;
  opacity: 0.5;
}

@media (orientation: portrait) {
  nav {
    flex-flow: row wrap;
  }

  fieldset {
    flex-flow: row wrap;
    place-content: start;
  }
}

@media (orientation: portrait) and (width >= 768px) {
  nav {
    flex-wrap: nowrap;
  }
}

@media (orientation: landscape) {
  nav {
    flex-flow: column nowrap;
  }

  fieldset {
    flex-flow: column nowrap;
    align-items: start;
  }
}
